

/* ==========================================================================
   Generic styles
   ========================================================================== */
body {
    font-size: 12px;
}


.left-sidebar, .main {
    margin-left: 10px;
}

/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   speak for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     3000px; /* 100%; */
    width:      3000px; /* 100%; */
    background: rgba( 255, 255, 255, .8 ) 
                url('../img/spinner.gif') 
                30% 15%
                no-repeat;
                /* 50% 50% */
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}

/* ==========================================================================
   Left Sidebar with options
   ========================================================================== */

.left-sidebar {
    /*position: fixed;*/
    overflow: scroll;
}

.left-sidebar h4 {
    margin: 0px;
}

.left-sidebar li {
    line-height: 18px;               
}

.view-option-active {
    font-weight: bold;
    background-color: #dddddd;
}

.sidebar-fixed {
    position:fixed;
    width:150px;
}

/*@media (max-width: 767px) {*/
@media (max-width: 950px) {    
    .sidebar-fixed {
        position:static;
        width:auto;
    }
}

.sidebar-fixed ul {
    margin: 0 0 10px 10px;
}

.sidebar-fixed ul li * {
    position: relative;
    /*left: -5px;*/
}
/* ==========================================================================
    Main program
========================================================================== */

#program {
    border-color: #bbbbbb;
}

#program .cell {
    font-size: 10px;
    padding: 3px;
    line-height: 12px;
    border-color: #bbbbbb;
}

#program .slot, div#unscheduled .slot {
    font-size: 10px;
    line-height: 12px;
}

#program .slot:not(.unavailable), div#unscheduled .slot:not(.unavailable) {
    cursor: pointer;
}


#program .slot:hover, div#unscheduled .slot:hover {
    outline: 1px solid #333333;
}

#program .cell .title, div#unscheduled .cell .title {
    width: 48px;
    height: 38px;                
    overflow-x: hidden;
    overflow-y: hidden;
}

#program .cell .display, div#unscheduled .cell .display {
    width: 48px;
    height: 30px;
    border-top: solid 1px #dddddd;
    overflow-x: hidden;
    overflow-y: hidden;
    /*color: #aaaaaa;*/
}

#program .cell .display .icon, div#unscheduled .cell .display .icon {
    width: 24px;
}

#program .header-row, #program .header-col {
    /*position: fixed;*/
    font-weight: bold;
}

#program .selected, div#unscheduled .selected {
    background: yellow;
    /*#ffb7b7;*/
}

#program .swap-selected, div#unscheduled .swap-selected {
    background: yellow;
}

#program .unavailable {
    background: #eeeeee;
}

#program .empty {
    text-align: center;
    vertical-align: middle;
    /*opacity: 0.5;*/
}
/*
#program .empty:hover {
    opacity: 1;
}
*/
#program .recommended, div#unscheduled .recommended {
    background: #fd8d3c;
}

#program .proposed-swap, div#unscheduled .proposed-swap {
    cursor: pointer;
}

#program .highlight, div#unscheduled .highlight {
	/*outline: 2px solid black;*/
    background: #aec7e8 !important;
}


/* ==========================================================================
   Unscheduled workspace
   ========================================================================== */

div#unscheduled {
    border: solid 1px #dddddd;
    height: 71px;
    margin-bottom: 15px;
}

div#unscheduled .slot {
    border: solid 1px #dddddd;
}


/* ==========================================================================
    Status Bar
   ========================================================================== */

#swap-review-cancel-link {
    margin-top: 0px;
}


/* ==========================================================================
    Interface misc
   ========================================================================== */

/* apply alternating gray in the paper listing inside a popover */
.list-submissions li {
    padding: 5px;
}

.list-submissions li:nth-child(even) {
    background: #dddddd;
}

/* color-coded rectangle in the legend */
.palette {
    padding-left: 10px;
    margin-left: 3px;
    margin-right: 2px;
    cursor: pointer;
}

/* color-coded rectangle in the legend */
.conflict-display {
    padding-left: 4px;
    margin-left: 1px;
    margin-right: 1px;
    cursor: pointer;
}

.conflict-preview-display {
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 2px;
    margin-right: 2px;  
}

.conflict-netcount-added {
    color: #888888;
}

.conflict-netcount-removed {
    color: black;
    font-weight: bold;
    font-size: 12px;
}

.conflict-preview-added {
    color: #888888;
    font-size: 10px;
    margin-left: 1px;
    margin-right: 1px;
    /*cursor: pointer;*/
}

.conflict-preview-removed {
    color: white;
    font-size: 14px;
    margin-left: 1px;
    margin-right: 1px;
    /*cursor: pointer;*/
}

.locked {
    background: url('../img/lock.png') 
                97% 3%
                no-repeat;
    background-size: 10px 14px;
}

.popover {
    width: 400px;
}

.popover-inner {
    width: 400px;
    font-size: 11px;
}

.popover-inner li {
    line-height: 12px;
}



